#nprogress .bar {
    height: 3px !important;
    background-color: #ff595e !important;
}
body {
    font-family: "Poppins", sans-serif !important;
    font-size: 15px !important;
}
.ql-editor {
    height: 300px !important;
}

.spinner-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
